[submodule "search-engine"]
	path = search-engine
	url = https://github.com/orion-search/search-engine
	branch = master
	shallow = true
[submodule "orion"]
	path = orion
	url = https://github.com/orion-search/orion
	branch = dev
	shallow = true
